<footer class="text-center">
  <span>
      Made with <i class="fa fa-heart pulse"></i> in <a href="https://www.google.com/maps?q=san+francisco&um=1&ie=UTF-8&sa=X&ved=0ahUKEwiM87jrhYzZAhXojVQKHTc7D4kQ_AUICigB" target="_blank">San Francisco</a>
  </span>
</footer>
